.cont-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
}

.sobreMi{
    padding: 10px;

    .cont-sobreMi{
        .cont-flex();
        align-items: center;
        gap: 15px;

        .img-sobreMi{
            width: 300px;
            height: 400px;
            object-fit:fill;
        }
    }
    .text-sobreMi{  
        width: 300px;
        max-width: 400px;
        font-size: 1rem;
        font-weight: 400;
        line-height: 25px;
        margin:15px 0;
    }
}