@import url("./css/footer.less");
@import url("./css/main.less");
@import url("./css/blog.less");
@import url("./css/aside.less");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
